*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  NAVBAR */

.navbar {
    width: 100%;
    background-color: #0071ce;
    color: white;
}


/* ---------- TOP HEADER ---------- */

.top-header {
    min-height: 70px;
    padding: 0 35px;

    display: flex;
    align-items: center;
    gap: 30px;
}


/* ---------- LOGO ---------- */

.logo {
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 25px;
    font-weight: bold;
    white-space: nowrap;
}

.logo i {
    font-size: 20px;
}


/* ---------- SEARCH ---------- */

.search-box {
    flex: 1;
    max-width: 600px;

    display: flex;
    height: 42px;
}

.search-box input {
    flex: 1;

    border: none;
    outline: none;

    padding: 0 18px;

    font-size: 14px;

    border-radius: 25px 0 0 25px;
}

.search-box button {
    width: 50px;

    border: none;
    cursor: pointer;

    background-color: #ffc220;

    border-radius: 0 25px 25px 0;

    font-size: 17px;
}


/* ---------- RIGHT ICONS ---------- */

.nav-icons {
    margin-left: auto;

    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 7px;

    font-size: 13px;
    white-space: nowrap;

    cursor: pointer;
}

.nav-item i {
    font-size: 18px;
}


/* ---------- NAVIGATION MENU ---------- */

.nav-menu {
    min-height: 45px;

    padding: 0 35px;

    display: flex;
    align-items: center;

    gap: 28px;

    border-top: 1px solid rgba(255,255,255,0.2);
}

.nav-menu a {
    color: white;

    text-decoration: none;

    font-size: 14px;
    font-weight: 500;

    display: flex;
    align-items: center;
    gap: 7px;

    white-space: nowrap;
}

.nav-menu a:hover {
    text-decoration: underline;
}

.nav-menu i {
    font-size: 15px;
}


.hero {
  width: 100%;
  height: 330px;
  background: linear-gradient(90deg, #dff5ff, #ffffff);
  position: relative;
  overflow: hidden;
}

/* Main content */
.hero-content {
  width: 90%;
  height: 100%;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Text */
.hero-text {
  width: 45%;
  padding-left: 40px;
}

.small-title {
  color: #0875c9;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.hero-text h1 {
  color: #333;
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 12px;
}

.hero-price {
  color: #0875c9;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.hero-offer {
  color: #555;
  font-size: 13px;
  margin-bottom: 18px;
}

/* Button */
.shop-btn {
  background: #0875c9;
  color: white;
  border: none;
  padding: 12px 28px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
}

.shop-btn:hover {
  background: #005da8;
}

/* Product image */
.hero-image {
  width: 50%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image img {
  max-width: 90%;
  max-height: 290px;
  object-fit: contain;
}

/* Arrows */
.hero-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 35px;
  height: 35px;

  border: none;
  border-radius: 50%;

  background: white;
  color: #0875c9;

  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.hero-arrow.left {
  left: 15px;
}

.hero-arrow.right {
  right: 15px;
}




.deals-container {
    width: 90%;
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

/* .section-title h2 {
    color: #0878c9;
    font-size: 24px;
    margin-bottom: 25px;
} */



/* Each card */

.deal-card {
    width: 17%;
    text-align: center;

    padding: 10px;
}


/* Icon circle */

.deal-icon {
    width: 70px;
    height: 70px;

    margin: 0 auto 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
}


/* Icon */

.deal-icon i {
    font-size: 30px;
}


/* Grocery */

.grocery {
    background-color: #fff3e0;
}

.grocery i {
    color: #ff9800;
}


/* Cream */

.cream {
    background-color: #fce4ec;
}

.cream i {
    color: #e91e63;
}


/* Device */

.device {
    background-color: #ede7f6;
}

.device i {
    color: #673ab7;
}


/* Laptop */

.laptop {
    background-color: #e3f2fd;
}

.laptop i {
    color: #2196f3;
}


/* Text */

.deal-card h3 {
    font-size: 14px;
    color: #333;

    margin: 8px 0;
}

.deal-card p {
    color: #0878c9;

    font-size: 13px;

    margin: 5px 0;
}

.deal-card span {
    color: #777;

    font-size: 12px;
}


/* ================= BIG OFFER ================= */

.offer-card {
    width: 18%;
    min-height: 150px;

    padding: 20px;

    text-align: center;

    background-color: #f5f5f5;

    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.08);
}

.offer-card p {
    font-size: 10px;

    text-transform: uppercase;

    margin-bottom: 15px;
}

.offer-card h3 {
    font-size: 16px;

    margin-bottom: 15px;
}

.offer-card strong {
    color: #0878c9;

    font-size: 25px;
}
/* 
Best selling Products */
.best-selling{
    width: 90%;
    margin: 35px auto 0;
}
.best-selling h2{
    color: #0878c9;
    font-size: 22px;
    margin-bottom:20px;
}
.product-container{
    display: flex;
    justify-content: space-between;
    gap: 35px;

}
.product-card{
    width: 31%;
    background-color: #f8f8f8;
    border: 1px solid #eeeeee;

}
.product-image{
    width: 100%;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
}
.product-image img{
    width: 85%;
    height: 150px;
    object-fit: contain;
}
.product-info{
    padding: 15px;
}
.product-info h3{
    color: #333;
    font-size: 15px;
    margin-bottom: 7px;
}
.product-info p{
    color: #555;
    font-size: 12px;
    line-height: 1.4;
    height: 35px;
    margin-bottom: 15px;
}
.product-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-price{
    color: #0878c9;
    font-size: 14px;
    font-weight: bold;
    
}
.product-bottom button{
    border: none;
    background-color: #006bb6;
    color: white;
    padding: 8px 18px;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
}
.product-bottom button:hover{
    background-color: #00528d;
}

/* latest launches */

.latest-launches{
    width: 90%;
    margin: 30px auto 0;
}
.latest-launches h2{
    color: #0878c9;
    font-size: 22px;
    margin-bottom: 20px;
}
.launch-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.launch-card{
    width: 14%;
    text-align: center;
}
.launch-image{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.launch-image img{
    width: 80px;
    height: 105px;
    object-fit: contain;
}
.launch-card h3{
    color: #333;
    font-size: 12px;
    margin-top: 12px;
    margin-bottom: 5px;
}
.launch-card p{
    color:  #0878c9;
    font-size: 11px;
    margin-bottom: 4px;
}
.launch-card span{
    color:  #0878c9;
    font-size: 10px;
}

/* Trending offers */
.trending-offers{
    width: 90%;
    margin: 30px auto 0;
}
.trending-offers h2{
    color: #0878c9;
    font-size: 22px;
    margin-bottom: 20px;
}
.trending-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.trending-card{
    width: 14%;
    text-align: center;
}
.trending-image{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.trending-image img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.trending-card h3{
    color: #333;
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: 5px;
}
.trending-card p{
    color: #0878c9;
    font-size: 11px;
}





/* ================= DISCOVER LATEST ================= */

.discover-section {
    width: 100%;
    padding: 40px 60px;
    box-sizing: border-box;

    background-color: #fff;
}


/* ---------- TITLE ---------- */

.discover-title {
    text-align: center;

    margin-bottom: 25px;
}

.discover-title h2 {
    margin: 0;

    color: #0071ce;

    font-size: 24px;
    font-weight: 600;
}

.discover-title p {
    margin-top: 6px;

    color: #777;

    font-size: 13px;
}


/* ---------- CONTAINER ---------- */

.discover-container {
    width: 100%;

    display: grid;

    grid-template-columns:
        repeat(3, 1fr);

    gap: 25px;
}


/* ---------- CARD ---------- */

.discover-card {
    background-color: white;

    border: 1px solid #e5e5e5;

    overflow: hidden;

    transition: 0.3s;

    cursor: pointer;
}

.discover-card:hover {
    transform: translateY(-5px);

    box-shadow:
        0 5px 15px rgba(0, 0, 0, 0.12);
}


/* ---------- IMAGE ---------- */

.discover-image {
    width: 100%;
    height: 190px;

    overflow: hidden;
}

.discover-image img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    display: block;

    transition: 0.3s;
}

.discover-card:hover
.discover-image img {
    transform: scale(1.05);
}


/* ---------- CONTENT ---------- */

.discover-content {
    padding: 15px 18px 18px;
}

.discover-content h3 {
    margin: 0 0 7px;

    color: #0071ce;

    font-size: 16px;
}

.discover-content p {
    margin: 0 0 10px;

    color: #555;

    font-size: 12px;

    line-height: 1.5;
}

.discover-content a {
    color: #0071ce;

    text-decoration: none;

    font-size: 12px;

    font-weight: 600;
}

.discover-content a:hover {
    text-decoration: underline;
}


/* ================= FOOTER ================= */

.footer {
    width: 100%;
    background-color: #0071ce;
    color: white;
    margin-top: 50px;
}


/* ================= NEWSLETTER ================= */

.newsletter {
    padding: 30px 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.newsletter-text h2 {
    margin: 0 0 8px;

    font-size: 22px;
}

.newsletter-text p {
    margin: 0;

    font-size: 13px;

    color: #e8f4ff;
}


/* Newsletter Form */

.newsletter-form {
    display: flex;

    width: 430px;
    height: 40px;
}

.newsletter-form input {
    flex: 1;

    border: none;
    outline: none;

    padding: 0 15px;

    font-size: 13px;

    border-radius: 4px 0 0 4px;
}

.newsletter-form button {
    width: 100px;

    border: none;

    background-color: #ffc220;
    color: #111;

    font-weight: bold;

    cursor: pointer;

    border-radius: 0 4px 4px 0;
}

.newsletter-form button:hover {
    background-color: #ffcf45;
}


/* ================= FOOTER MAIN ================= */

.footer-main {
    padding: 35px 70px;

    display: grid;

    grid-template-columns:
        repeat(4, 1fr);

    gap: 40px;
}


/* Footer Columns */

.footer-column {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.footer-column h3 {
    margin: 0 0 8px;

    font-size: 16px;
}

.footer-column a {
    color: #e8f4ff;

    text-decoration: none;

    font-size: 13px;

    width: fit-content;
}

.footer-column a:hover {
    color: white;

    text-decoration: underline;
}


/* ================= SOCIAL ICONS ================= */

.social-icons {
    display: flex;

    gap: 12px;
}

.social-icons a {
    width: 35px;
    height: 35px;

    border: 1px solid white;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;

    transition: 0.2s;
}

.social-icons a:hover {
    background-color: white;
    color: #0071ce;

    text-decoration: none;
}


/* ================= FOOTER BOTTOM ================= */

.footer-bottom {
    padding: 18px 70px;

    border-top: 1px solid rgba(255, 255, 255, 0.25);

    display: flex;

    align-items: center;
    justify-content: space-between;
}

.footer-bottom p {
    margin: 0;

    font-size: 12px;

    color: #e8f4ff;
}

.bottom-links {
    display: flex;

    gap: 20px;
}

.bottom-links a {
    color: white;

    text-decoration: none;

    font-size: 12px;
}

.bottom-links a:hover {
    text-decoration: underline;
}